
section #article_three .one_row{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
section #article_three .one_row .one_row_left{
  width: 48%;
  height: auto;
  background: white;
}
section #article_three .one_row .one_row_right{
  width: 48%;
  height: auto;
  background: white;
}




